Source: sdformat
Standards-Version: 3.9.3
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: extra
Build-Depends: cmake,
               debhelper (>= 7.0.50~),
               pkg-kde-tools,
               libboost-system-dev,
               libboost-filesystem-dev,
               libboost-program-options-dev,
               libboost-regex-dev,
               libboost-iostreams-dev,
               libtinyxml-dev,
Vcs-Browser: https://bitbucket.org/osrf/sdformat-release
Vcs-Hg: https://bitbucket.org/osrf/sdformat-release
Homepage: http://sdformat.org

Package: libsdformat1
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Conflicts: libsdformat1-prerelease, 
           libsdformat1-nightly
Provides: libsdformat1-provider
Description: Simulation Description Format (SDF) parser and description files.
 .
 This package gathers shared libraries used

Package: libsdformat-dev
Architecture: any
Section: libdevel
Depends: libboost-system-dev,
         libboost-filesystem-dev,
         libboost-program-options-dev,
         libboost-regex-dev,
         libboost-iostreams-dev,
         libtinyxml-dev,
         ${misc:Depends}
Multi-Arch: same
Conflicts: libsdformat-dev-prerelease, 
           libsdformat-dev-nightly
Provides: libsdformat-dev-provider
Description: Simulation Description Format (SDF) parser and description files.
 .
 This package contains development files (headers, shared library
 symbolic link and pkg-config file).

Package: libsdformat1-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
     libsdformat1 (= ${binary:Version}),
     ${misc:Depends}
Multi-Arch: same
Description: Simulation Description Format (SDF) parser and description files.
 .
 This package contains the debugging symbols for libcdd0d.
