Source: sdformat
Standards-Version: 3.9.3
Maintainer: Nate Koenig <nate@osrfoundation.org>
Section: devel
Priority: extra
Build-Depends: cmake,
               debhelper (>= 7.0.50~),
               libboost-system1.49-dev,
               libboost-filesystem1.49-dev,
               libboost-program-options1.49-dev,
               libboost-regex1.49-dev,
               libboost-iostreams1.49-dev,
               libtinyxml1.49-dev
Homepage: http://sdformat.org

Package: sdformat
Architecture: any
Section: devel
Priority: extra
Depends: libtinyxml2.6.2,
         libboost-system1.49.0,
         libboost-filesystem1.49.0,
         libboost-program-options1.49.0,
         libboost-regex1.49.0,
         libboost-iostreams1.49.0,
         ${misc:Depends}
Description: Simulation Description Format (SDF) parser and description files.
Conflicts: sdformat-prerelease, sdformat-nightly
Provides: sdformat-provider
Homepage: http://sdformat.org
